{:deps {org.clojure/clojure      {:mvn/version "1.10.1"}
        org.clojure/data.xml     {:mvn/version "0.2.0-alpha6"}
        org.clojure/data.zip     {:mvn/version "0.1.2"}
        org.reficio/soap-builder {:mvn/version "1.0.0-SNAPSHOT"}
        selmer/selmer                   {:mvn/version "1.12.31"}
        inflections/inflections              {:mvn/version "0.13.0"}
        org.clojure/tools.cli    {:mvn/version "0.4.1"}}

 :mvn/repos {"enonic"   {:url "https://repo.enonic.com/public/"}
             "central"  {:url "https://repo1.maven.org/maven2/"}
             "clojars"  {:url "https://clojars.org/repo/"}
             "sonatype" {:url "https://oss.sonatype.org/content/repositories/snapshots/"}}

 :paths ["src"]

 :aliases
 {:1.8    {:override-deps {org.clojure/clojure {:mvn/version "1.8.0"}}}
  :1.9    {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
  :master {:override-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}

  :test {:extra-paths ["test" "test_resources"]
         :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}
                       clj-http/clj-http               {:mvn/version "RELEASE"}}}

  :runner {:extra-deps {com.cognitect/test-runner
                        {:git/url "https://github.com/cognitect-labs/test-runner"
                         :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
           :main-opts  ["-m" "cognitect.test-runner"
                        "-d" "test"]}}}
