{:deps {org.clojure/clojure      {:mvn/version "1.9.0"}
        org.clojure/data.xml     {:mvn/version "0.2.0-alpha5"}
        org.clojure/data.zip     {:mvn/version "0.1.2"}
        org.reficio/soap-builder {:mvn/version "1.0.0-SNAPSHOT"}
        selmer                   {:mvn/version "1.11.8"}
        cheshire                 {:mvn/version "5.8.0"}}

 :mvn/repos {"reficio" {:url "http://repo.reficio.org/maven/"}
             "soapui"  {:url "http://www.soapui.org/repository/maven2"}
             "enonic"  {:url "http://repo.enonic.com/public/"}
             "central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}

 :paths ["src"]}
